@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=New+Rocker&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "New Rocker";
    font-size: 20pt;
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient( rgba(80, 0, 0, 0.8), rgba(80, 0, 0, 0.5) ), url("https://upload.wikimedia.org/wikipedia/en/9/9f/RHS_Front_Entrance.JPG");
    background-size: cover;
    background-position: center;
    background-color: #001231;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 34pt;
    width: 100%;
    margin-top: 0;
    color: #ffffff;
}
