@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=New+Rocker&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "New Rocker";
    font-size: 20pt;
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6) ), url("./media/6.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #001231;
    color: #F4D6CC;
    text-align: center;
}

h1 {
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 34pt;
    width: 100%;
    margin-top: 0;
    color: #F4D6CC;
}
